@import "reset";
@import "typography";


$primary-color: #1B1B1B;
$secondary-color: #fff;

body {
    font-family: 'FormularMedium';
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 50px;
}

/*
a {
    text-decoration: none;
    color:white;
}*/

header {
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 18px;

    div {
        mix-blend-mode: difference;
    }

    @media (max-width:770px) {
        display: none;
    }


}

header.menu {
    justify-content: space-between;
}

a {

    text-decoration: none;
}

a.box {
    border: solid 1px grey;
    color: grey;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    transition: transform 0.3s ease;
}

a.box:hover {
   transform: translateY(-5px);
}


/* canvas {
    vertical-align: bottom;
} */

section#interaction-seven {
    height: 100%;
}

section.blank {
    height: 100vh;
    background-color: white;
}



