

@font-face {
	font-family: 'FormularLight';
	src: url('fonts/formular-light.eot');
	src:
	     url('fonts/formular-light.eot?#iefix') format('embedded-opentype'),
	     url('fonts/formular-light.woff2') format('woff2'),
	     url('fonts/formular-light.woff') format('woff'),
	     url('fonts/formular-light.ttf') format('truetype'),
	     url('fonts/formular-light.svg#Formular-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FormularMedium';
	src: url('fonts/formular-medium.eot');
	src:
	     url('fonts/formular-medium.eot?#iefix') format('embedded-opentype'),
	     url('fonts/formular-medium.woff2') format('woff2'),
	     url('fonts/formular-medium.woff') format('woff'),
	     url('fonts/formular-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
